.page-about {
  header {
    position: relative;
    background: url(../images/bg-header-about.jpg);
    background-size: cover;
    background-position: center;
  }

  .fa-ul {
    li {
      margin-bottom: 16px;

      i {
        color: #d7184d;
      }
    }
  }
}