.page-guerrilha-way {
  .btn-danger {
    padding: 16px 30px;
  }

  .bg-danger {
    .text-secondary {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }

  .bg-black {
    .italo {
      @media screen and (max-width: 767px) {
        width: 250px;
        height: 300px;
        object-fit: cover;
        object-position: top;
      }
      
      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(50%);
        width: 300px;
      }
    }
  }
}