.page-guerrilha-way {
  .btn-danger {
    padding: 16px 30px;
  }

  .bg-danger {
    .text-secondary {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }

  .bg-black {
    .italo {
      @media screen and (max-width: 767px) {
        width: 250px;
        height: 300px;
        object-fit: cover;
        object-position: top;
      }
      
      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(50%);
        width: 300px;
      }
    }
  }

  .plans {
    .card {
      border: none;
      background-color: #f0f2f5;

      &.featured {
        background-color: #f7e8ec;
      }
    }
  }

  .red-circle {
    color: white;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background-color: #d7184d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-bottom: 15px;
  }
}