.page-masterclass {
  .btn-info {
    padding: 16px 30px;
  }

  nav.navbar {
    &.with-bg {
      background-color: rgba(0,0,0,0.5)!important
    }
  }

  header {
    background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.2)), url(../images/bg-header-masterclass.jpg);
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 575px) {
      min-height: 640px;
    }
  }

  .guerrilha-way {
    background: url(../images/bg-masterclass-middle.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    .italo {
      @media screen and (max-width: 767px) {
        width: 250px;
        height: 300px;
        object-fit: cover;
        object-position: top;
      }
      
      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(50%);
        width: 300px;
      }
    }
  }

  .card-img-top {
    height: 450px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 40px 20px;

    h4 {
      font-size: 36px;
      color: white;
    }

    @media screen and (max-width: 991px) {
      padding: 30px 15px;
      height: 350px;

      h4 {
        font-size: 28px;
      }
    }
  }

  .faq {
    .accordion {
      .card {
        border: none;

        .card-header {
          background: none;
          padding: 0;
          border-bottom: 0;
          
          .btn {
            padding: 12px 0;
          }
        }

        .card-body {
          padding: 12px 0;
        }
      }
    }
  }

  footer {
    background: #5396b9;
  }
}